* {
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
body,
html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
header {
  // position: fixed;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}
// Scroll Stuff
.scroll-down {
  header {
    transform: translate3d(0, -100%, 0);
  }
}
// .scroll-up {
//   header {
//     // filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
//   }
// }
// color variable
$primaryColor: #00a192 !important;
// $primaryblue: #0085a1 !important;
.divCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// Css Classes
.bgGreen {
  background: $primaryColor;
}
.textGreen {
  color: $primaryColor;
}
.activeLink {
  color: $primaryColor;
}
.loraFont {
  font-family: "Lora", serif;
}
.btnGreen {
  color: #fff;
  background-color: $primaryColor;
  border-color: $primaryColor;
}
.btnGreen:hover {
  color: #fff;
  background-color: #008e81 !important;
  border-color: #008e81 !important;
}
.btnDark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.btnDark:hover {
  color: #fff;
  background-color: $primaryColor;
  border-color: $primaryColor;
}
.hoverGreen:hover {
  color: $primaryColor;
}
.curserPoint {
  cursor: pointer;
}
// Without Parallax
// .homeHeadImg,
// .contactHeadImg {
//   position: relative;
//   //   margin-top: 2%;
//   height: 60vh;
//   background-image: url("../img/undraw_book_lover_mkck.svg");
//   background-size: contain;
//   background-repeat: no-repeat;
//   // background-attachment: fixed;
//   background-position: center;
// }
// With Parallax
.homeHeadImg,
.contactHeadImg,
.blogsHeadImg,
.videosHeadImg,
.blogOneHeadImg {
  position: relative;
  //   margin-top: 2%;
  height: 60vh;
  background-image: url("../img/undraw_book_lover_mkck.svg");
  background-size: 70vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 35%;
}
.blogsHeadImg {
  background-image: url("../img/undraw_reading_time_gvg0.svg");
  background-size: 75vh;
}
.videosHeadImg {
  background-image: url("../img/undraw_Video_streaming_re_v3qg.svg");
  background-size: 60vh;
}
.contactHeadImg {
  background-image: url("../img/undraw_message_sent_1030.svg");
  background-size: 85vh;
}
.blogOneHeadImg {
  background-image: url("../img/undraw_book_reading_kx9s.svg");
  background-size: 75vh;
}
.homeHeadImg::before,
.contactHeadImg::before,
.blogsHeadImg::before,
.videosHeadImg::before,
.blogOneHeadImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  opacity: 0.5;
}
.divCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu > ul > li > a:hover {
  color: $primaryColor;
}
.menu > ul > li {
  float: left;
  position: relative;
}
.menu > ul > li .active::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  border-bottom: 4px solid $primaryColor;
}
.dropdown-item:hover {
  background-color: $primaryColor;
  color: white;
}
.dropdown-item:active {
  background-color: $primaryColor;
  color: white;
}
// .navbar-toggler {
//   transform: rotate(0);
//   transition: all 0.3s linear;
// }
// .navbarTogglerRotate {
//   transform: rotate(90deg);
// }
.footer {
  position: relative;
}
// textarea {
//   resize: none;
// }
.textjustify {
  text-align: justify;
}
// Scroll Indicator
.progressContainer {
  width: 100%;
  height: 4px;
  background: #ccc;
}
.progressBar {
  height: 4px;
  background: #04aa6d;
  width: 0%;
  transition: all 0.3s linear;
}
@media only screen and (max-width: 768px) {
  .menu > ul > li .active::after {
    content: " ";
    position: unset;
    display: block;
    width: 20%;
    border-bottom: 4px solid $primaryColor;
  }
}
