* {
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
body,
html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
header {
  z-index: 9999;
  transition: all 300ms ease-in-out;
}
// Scroll Stuff
.scroll-down {
  header {
    transform: translate3d(0, -100%, 0);
  }
}
// color variable
$primaryColor: #00a192 !important;

.divCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// Css Classes
.bgGreen {
  background: $primaryColor;
}
.textGreen {
  color: $primaryColor;
}
.activeLink {
  color: $primaryColor;
}
.loraFont {
  font-family: "Lora", serif;
}
.btnGreen {
  color: #fff;
  background-color: $primaryColor;
  border-color: $primaryColor;
  transition: all 0.2s linear;

  &:hover {
    color: #fff;
    background-color: #008e81 !important;
    border-color: #008e81 !important;
  }
}
.btnDark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  transition: all 0.2s linear;

  &:hover {
    color: #fff;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
}
.hoverGreen {
  transition: all 0.2s linear;

  &:hover {
    color: $primaryColor;
  }
}
.curserPoint {
  cursor: pointer;
}
// With Parallax
.homeHeadImg,
.contactHeadImg,
.blogsHeadImg,
.videosHeadImg,
.blogOneHeadImg,
.aboutHeadImg {
  position: relative;
  //   margin-top: 2%;
  height: 60vh;
  background-image: url("../img/undraw_book_lover_mkck.svg");
  background-size: 70vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 35%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
  }
}
.blogsHeadImg {
  background-image: url("../img/undraw_reading_time_gvg0.svg");
  background-size: 75vh;
}
.videosHeadImg {
  background-image: url("../img/undraw_Video_streaming_re_v3qg.svg");
  background-size: 60vh;
}
.contactHeadImg {
  background-image: url("../img/undraw_message_sent_1030.svg");
  background-size: 85vh;
}
.blogOneHeadImg {
  background-image: url("../img/undraw_book_reading_kx9s.svg");
  background-size: 75vh;
}
.aboutHeadImg {
  background-image: url("../img/undraw_Partying_re_at7f.svg");
  background-size: 75vh;
}
.divCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu {
  ul {
    li {
      float: left;
      position: relative;

      .active {
        &::after {
          content: " ";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -8px;
          border-bottom: 4px solid $primaryColor;
        }
      }
      a {
        &:hover {
          color: $primaryColor;
        }
      }
    }
  }
}
.dropMenu {
  i,
  &::after {
    color: rgba(0, 0, 0, 0.55);
  }
}
.dropdown-menu {
  right: 0 !important;
  left: unset !important;
}
.dropdown-item {
  &:hover,
  &:active {
    background-color: $primaryColor;
    color: white;
  }
}
// .dropdown-item.active {
//   background-color: $primaryColor;
//   color: white;
// }

// .navbar-toggler {
//   transform: rotate(0);
//   transition: all 0.3s linear;
// }
// .navbarTogglerRotate {
//   transform: rotate(90deg);
// }
.footer {
  position: relative;
}
textarea {
  resize: none;
}
.textjustify {
  text-align: justify;
}
// Scroll Indicator
.progressContainer {
  width: 100%;
  height: 4px;
  background: #ccc;

  .progressBar {
    height: 4px;
    background: #04aa6d;
    width: 0%;
    transition: all 0.3s linear;
  }
}
.maxHeight {
  max-height: 50% !important;
}
.lineClamp,
.lineClamp8,
.blogCardTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lineClamp8 {
  -webkit-line-clamp: 8;
}
.blogCardTitle {
  min-height: 64px;
}
.blogHeroImg{
  width: 100%;
  display: flex;
  background-color: #f7f7f7;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  
  img{
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 767.98px) {
  .menu {
    ul {
      li {
        .active {
          &::after {
            content: " ";
            position: unset;
            display: block;
            width: 20%;
            border-bottom: 4px solid $primaryColor;
          }
        }
      }
    }
  }
  .dropMenu {
    padding-left: 0;
  }
  .dropdown-menu {
    right: unset !important;
    left: 0 !important;
  }
}
