* {
  border-radius: 0 !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

header {
  z-index: 9999;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.scroll-down header {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.divCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bgGreen {
  background: #00a192 !important;
}

.textGreen {
  color: #00a192 !important;
}

.activeLink {
  color: #00a192 !important;
}

.loraFont {
  font-family: "Lora", serif;
}

.btnGreen {
  color: #fff;
  background-color: #00a192 !important;
  border-color: #00a192 !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btnGreen:hover {
  color: #fff;
  background-color: #008e81 !important;
  border-color: #008e81 !important;
}

.btnDark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btnDark:hover {
  color: #fff;
  background-color: #00a192 !important;
  border-color: #00a192 !important;
}

.hoverGreen {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.hoverGreen:hover {
  color: #00a192 !important;
}

.curserPoint {
  cursor: pointer;
}

.homeHeadImg,
.contactHeadImg,
.blogsHeadImg,
.videosHeadImg,
.blogOneHeadImg,
.aboutHeadImg {
  position: relative;
  height: 60vh;
  background-image: url("../img/undraw_book_lover_mkck.svg");
  background-size: 70vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 35%;
}

.homeHeadImg::before,
.contactHeadImg::before,
.blogsHeadImg::before,
.videosHeadImg::before,
.blogOneHeadImg::before,
.aboutHeadImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  opacity: 0.5;
}

.blogsHeadImg {
  background-image: url("../img/undraw_reading_time_gvg0.svg");
  background-size: 75vh;
}

.videosHeadImg {
  background-image: url("../img/undraw_Video_streaming_re_v3qg.svg");
  background-size: 60vh;
}

.contactHeadImg {
  background-image: url("../img/undraw_message_sent_1030.svg");
  background-size: 85vh;
}

.blogOneHeadImg {
  background-image: url("../img/undraw_book_reading_kx9s.svg");
  background-size: 75vh;
}

.aboutHeadImg {
  background-image: url("../img/undraw_Partying_re_at7f.svg");
  background-size: 75vh;
}

.divCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu ul li {
  float: left;
  position: relative;
}

.menu ul li .active::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  border-bottom: 4px solid #00a192 !important;
}

.menu ul li a:hover {
  color: #00a192 !important;
}

.dropMenu i, .dropMenu::after {
  color: rgba(0, 0, 0, 0.55);
}

.dropdown-menu {
  right: 0 !important;
  left: unset !important;
}

.dropdown-item:hover, .dropdown-item:active {
  background-color: #00a192 !important;
  color: white;
}

.footer {
  position: relative;
}

textarea {
  resize: none;
}

.textjustify {
  text-align: justify;
}

.progressContainer {
  width: 100%;
  height: 4px;
  background: #ccc;
}

.progressContainer .progressBar {
  height: 4px;
  background: #04aa6d;
  width: 0%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.maxHeight {
  max-height: 50% !important;
}

.lineClamp,
.lineClamp8,
.blogCardTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lineClamp8 {
  -webkit-line-clamp: 8;
}

.blogCardTitle {
  min-height: 64px;
}

.blogHeroImg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7f7;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}

.blogHeroImg img {
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 767.98px) {
  .menu ul li .active::after {
    content: " ";
    position: unset;
    display: block;
    width: 20%;
    border-bottom: 4px solid #00a192 !important;
  }
  .dropMenu {
    padding-left: 0;
  }
  .dropdown-menu {
    right: unset !important;
    left: 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */