* {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

.myLigthGrey {
  background-color: #f3f3f3 !important;
}

.primaryLightBlue {
  background-color: #008174 !important;
}

.displayArea {
  height: 100vh;
}

.myHead {
  width: 100%;
  height: 52px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  background-color: #00a192 !important;
}

.contentContainer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.2rem;
}

.contentContainer .leftPanel {
  width: 270px;
  height: 100%;
  background-color: #00a192 !important;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}

.contentContainer .rightPanel {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}

.contentContainer .pClose {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.curserPoint {
  cursor: pointer !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav > .nav-item > a,
.nav > .nav-item > .panel a {
  color: #f4f4f4;
  font-size: 1.1rem !important;
}

.nav > .nav-item > a:hover,
.nav > .nav-item > .panel a:hover {
  color: #f7f7f7 !important;
  background-color: #00645a60 !important;
}

.myActive {
  color: #f7f7f7 !important;
  background-color: #008174 !important;
}

.dropdown-item {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.dropdown-item:hover, .dropdown-item:active {
  background-color: #00a192 !important;
  color: white;
}

.panel {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.panel a {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.panel a:hover {
  padding-left: 2rem;
}

.arrowDefault {
  -webkit-transform: rotate();
          transform: rotate();
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.arrowRotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.burger i {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.burgerRotate {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
}

.cardBlue {
  -webkit-box-shadow: 0 0.125rem 0.25rem #0d6efd !important;
          box-shadow: 0 0.125rem 0.25rem #0d6efd !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cardBlue:hover {
  -webkit-box-shadow: 0 0.5rem 1rem #0d6efd !important;
          box-shadow: 0 0.5rem 1rem #0d6efd !important;
}

.cardYellow {
  -webkit-box-shadow: 0 0.125rem 0.25rem #ffc107 !important;
          box-shadow: 0 0.125rem 0.25rem #ffc107 !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cardYellow:hover {
  -webkit-box-shadow: 0 0.5rem 1rem #ffc107 !important;
          box-shadow: 0 0.5rem 1rem #ffc107 !important;
}

.cardGreen {
  -webkit-box-shadow: 0 0.125rem 0.25rem #198754 !important;
          box-shadow: 0 0.125rem 0.25rem #198754 !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cardGreen:hover {
  -webkit-box-shadow: 0 0.5rem 1rem #198754 !important;
          box-shadow: 0 0.5rem 1rem #198754 !important;
}

.cardRed {
  -webkit-box-shadow: 0 0.125rem 0.25rem #dc3545 !important;
          box-shadow: 0 0.125rem 0.25rem #dc3545 !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cardRed:hover {
  -webkit-box-shadow: 0 0.5rem 1rem #dc3545 !important;
          box-shadow: 0 0.5rem 1rem #dc3545 !important;
}

@media screen and (max-width: 991.98px) {
  .contentContainer .leftPanel {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  .contentContainer .pClose {
    width: 270px;
    height: 100%;
    position: fixed;
    background-color: #00a192 !important;
    z-index: 99;
    overflow: auto;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}
/*# sourceMappingURL=style.css.map */