* {
  // border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
// Colors
$primaryBlue: #00a192 !important;
$primaryLightBlue: #008174 !important;
$lightGrey: #f3f3f3 !important;
.myLigthGrey {
  background-color: $lightGrey;
}
.primaryLightBlue {
  background-color: $primaryLightBlue;
}
.displayArea {
  height: 100vh;
}
.myHead {
  width: 100%;
  height: 52px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  background-color: $primaryBlue;
}
// SideBar Css
.contentContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 3.2rem;
}
.leftPanel {
  width: 270px;
  height: 100%;
  background-color: $primaryBlue;
  color: white;
  align-items: center;
  z-index: 99;
  overflow: auto;
  user-select: none;
  transition: all 0.2s ease;
  position: relative;
}
.rightPanel {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}
.pClose {
  width: 0;
  padding: 0;
  overflow: hidden;
}
.curserPoint {
  cursor: pointer !important;
  user-select: none;
}
// Navigation Css
.nav > .nav-item > a,
.nav > .nav-item > .panel a {
  color: #f4f4f4;
  font-size: 1.1rem !important;
}
.nav > .nav-item > a:hover,
.nav > .nav-item > .panel > a:hover {
  color: #f7f7f7 !important;
  background-color: #00645a60 !important;
}
.myActive {
  color: #f7f7f7 !important;
  background-color: $primaryLightBlue;
}
// Accrodian Panel
.panel {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s linear;
}
.panel > a {
  transition: all 0.2s linear;
}
.panel > a:hover {
  padding-left: 2rem;
  transition: all 0.2s linear;
}
// SideBar Cevron Arrow Rotation
.arrowDefault {
  transform: rotate();
  transition: all 0.2s linear;
}
.arrowRotate {
  transform: rotate(90deg);
  transition: all 0.2s linear;
}
@media screen and (max-width: 990px) {
  .leftPanel {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  .pClose {
    width: 270px;
    height: 100%;
    position: fixed;
    background-color: $primaryBlue;
    z-index: 99;
    overflow: auto;
    transition: all 0.2s ease;
  }
}
